* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}
body {
  min-width: 700px;
  max-width: 1200px;
}

.main {
  width: 100%;
  height: 100vh;
}
/*Aqui comeinza el main*/
.section-1 {
  display: flex;
  justify-content: center;
  padding: 40px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.header {
  max-width: 1200px;
  width: 70%;
  height: 15em;
  background-color: #c8c8c8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-principal {
  width: 250px;

  height: 250px;
}
.tex {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 13em;
}
.boton-banner {
  width: 80px;
  height: 25px;
  border-radius: 7px;
  background-color: #77ebb1;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  text-decoration: none;
}

.foto-producto {
  width: 250px;
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/*Aqui termina el main*/

/*Aqui comienza la seccion 2*/

.section-2 {
  width: 70%;
  display: flex;
}
.card {
  width: 100%;
  align-items: center;
}

.foto {
  width: 250px;
  display: flex;
  justify-content: center;
}
img {
  width: 250px;
  padding: 19px;
}
